.todo-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding-bottom: 50px;
    
}

.input-wrapper {
    margin:  30px 0px;
    display: flex;
    justify-content: center;
    align-items:center;
  
}

.input-field {
    padding: 5px;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
}

.headline {
    font-family: monospace;
    font-size: 38px;
    color: var(--text-color);
    margin-top: 30px;
    margin-bottom: 20px;
  }

.add-btn {
    margin-left: 20px;
    margin-right: 10px;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: var(--secondary-color);
    cursor: pointer;
}

.add-btn:active {
    transform: translateY(2px)
}


.card-wrapper {
    margin-top: 35px;
    width: 690px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 12px 15px 18px;
    border-radius: 8px;
    background-color: var(--third-color);
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.7);

}

.task {
    width: 700px;
    font-family: monospace;
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    letter-spacing: 1.2px;
    margin-right: 0px;
}

.name {
    width: 300px;
    font-family: monospace;
    font-size: 23px;
    color: var(--text-color);
    letter-spacing: 1.2px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: flex-start;
}



.btn {
    border: 6px solid var(--text-color);
    width: 100px;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}

.check {
    color: var(--secondary-color);
   font-size: 45px;
    cursor: pointer;
  
}

.redCheck {
    color: red;
    font-size: 45px;
    cursor: pointer;
}

.linethrough {
    text-decoration: line-through;
}

.close {
    color: var(--text-color);
    font-size: 40px;
    cursor: pointer;
}

.todo-label, .todo-name {
    color: var(--text-color);
    font-family: monospace;
    font-size: 28px;
}

.todo-name {
    margin-left: 20px;
    
}

.edit-btn, .done-btn {
    width: 60px;
    font-size: 22px;
    font-weight: 500;
    font-family: monospace;
    letter-spacing: 1.3px;
    padding: 8px 5px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-btn:active {
    transform: translateY(2px);
}

.edit-icon {
    margin-left: 5px;
}

.done-btn {
    width: 90px;
    padding-left: 8px;
    padding-right: 8px;
}

.done-btn:active {
    transform: translateY(2px);
}

.changeTextInput {
    padding: 5px;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-right: 40px;
}

.select {
    font-size: 20px;
    margin-left: 20px;
}

.newTask-div {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 25%;
    right: 35%;
    background-color: var(--secondary-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 10px;
    outline: none;
    border: 2px dotted var(--text-color);
    animation-duration: 0.4s;
    animation-name: taskDiv;

}

@keyframes taskDiv {
    0% {
        height: 0px;
        opacity: 0;
    }
    10% {
        height: 30px;
        opacity: 0;
    }
    20% {
        height: 60px;
        opacity: 0;
    }
    30% {
        height: 90px;
        opacity: 0.3;
    }
    40% {
        height: 120px;
        opacity: 0.4;
    }
    50% {
        height: 150px;
        opacity: 0.5;
    }
    60% {
        height: 180px;
        opacity: 0.6;
    }
    70% {
        height: 210px;
        opacity: 0.7;
    }
    80% {
        height: 240px;
        opacity: 0.8;
    }
    90% {
        height: 270px;
        opacity: 0.9;
    }
    100% {
        height: 300px;
        opacity: 1;
    }
}

.newTask-headline {
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    font-family: monospace;
    margin-bottom: 10px;
  
}

.newTask-input {
    width: 280px;
    padding: 5px;
    padding-left: 10px;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-bottom: 40px;
}

.done-button {
    
    font-size: 22px;
    font-weight: 500;
    font-family: monospace;
    letter-spacing: 1.3px;
    padding: 8px 0px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    padding-left: 8px;
    padding-right: 8px;
}

.done-button:active {
    transform: translateY(2px);
}

@media screen and (max-width: 992px) {
    .select {
        position: absolute;
        top: 20%;
        font-size: 25px;
        
    }

    .card {
        margin-top: 80px;
    }

  
}

@media screen and (max-width: 390px) {
    .select {
        position:inherit
    }

    .input-wrapper {
        display: flex;
        flex-direction: column;
    }

    .todo-label, .todo-name {
        align-self: flex-start;
        margin-bottom: 4px;
    }

    .todo-name {
        margin-top: 15px;
        margin-left: 0px;
    }

    .add-btn {
        margin-top: 30px;
        width: 150px;
        margin-bottom: 0px;
        font-size: 28px;
        font-family: monospace;
    }

    .card {
        margin-top: 0px;
        padding-top: 10px;

    }

    .card-wrapper {
        width: 300px;
        height: 100px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid var(--text-color);
        padding: 10px 5px;
        position: relative;
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .select {
        position: absolute;
        left: -1000px;
    }

    .edit-btn {
        position: absolute;
        right: -1000%;
    }

    .check, .redCheck {
        position: absolute;
        bottom: 5%;
        right: 20%;
        font-size: 25px;
    }

    .close {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .name {
        width: 280px;
        justify-content: flex-start;
        margin-left: 0px;
        margin-top: 5px;
        font-size: 20px;
    }

    .task {
        font-size: 22px;
        width: 280px;
        display: flex;
        justify-content: flex-start;
        margin-right: 0px;

    }

 

       
}









