.placeholder-div {
    font-family: monospace;
    opacity: 0.8;
    font-size: 28px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    align-items: center;
    color: var(--text-color);
    width: 700px;
    height: 500px;
}

.placeholder-text {
    position: absolute;
    top: 19%;
    text-align: center;
}




