
/* Style Guide */

:root {
  --primary-color: teal;
  --secondary-color: #006666;
  --third-color: #66b2b2;
  --text-color: white;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: teal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app {
  position: relative;
}